@media screen and (min-width: 576px) {

	body {
		background: blue;
	}

	body h1, h2 {
		color: white;
		text-align: center;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
	}

	#mobile {
		display: none;
	}
	
}

@media screen and (max-width: 575px) {

	body {
		background: yellow;
	}

	body h1, h2 {
		color: white;
		text-align: center;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
	}

	#desktop {
		display: none;
	}
}